.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.FlexGame 
{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin: 1rem;
}

.gridBox
{
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
}

.JobBrief
{
  /* width: 25rem; */
  margin: 2rem; 
  border: 1px solid black;
  background-color: #8bc34a36;
  
}

.JobSingleDetails
{
  margin: 2rem;
  border: 1px solid black;
  /* grid-column: 2/3; */
}

.JobOption
{
  display: flex;
  justify-content: space-around;
  background-color: #403f3f;
  color: white;

}

.JobOption div
{
  padding: 0 4rem;
}
.TitleBox
{
  display: flex;
  margin-left: 2rem;
  margin-top: 1rem;
  background-color: #403f3f;
  color: white;
  width: 15rem;
  justify-content: center;
}

.JobOption :hover
{
  cursor: pointer;
  background-color: black;
  border-radius: 10px;
}

.CompanyList
{
  margin: 2rem;
  padding: 1rem;
  border: 1px solid black;
  width: 30rem;
  height: 17rem;
  background-color:#8bc34a36;
}